.container {
  max-width: 1271px;
  margin: 0 auto;
}

.navbar {
  padding: 1rem 2rem;
  //border-bottom: 1px solid #48C7FF;
  display: flex;
  justify-content: space-between;
  .name {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    a {
      color: white;
    }
    .org {
      font-size: 0.8rem;
      margin-left: 0.5rem;
      color: rgba(255,255,255,0.8);
    }
  }
  .actions {
    display: flex;
    margin-top: 0.5rem;
    .link {
      margin-left: 2rem;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
      a {
        color: rgba(255,255,255,0.6);
        &:hover {
          color: white;
        }
      }
    }
  }
  &.white {
    background-color: white;
    .name {
      a {
        color: #254451;
      }
      color: #254451;
      .org {
        color: #254451;
      }
    }
    .actions {
      .link {
        a {
          color: @brand-primary;
        }
      }
    }
  }
}

.hero {
  background-color: #004775;
  background-image: linear-gradient(-135deg, #0078C5 0%, #004775 100%);
  //background-image: radial-gradient(52% 107%, #0078C5 26%, #0076C2 26%, #0666A4 59%, #004775 100%);
  .hamster {
    padding: 1rem 2rem 3rem 2rem;
    img {
      width: 100%;
      max-width: 500px;
    }
    text-align: center;
  }
  h3 {
    padding-top: 1.5rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    img {
      height: 30px;
      width: auto;
      margin-right: 0.7rem;
      position: relative;
      top: 0.4rem;
    }
  }
  p {
    strong {
      font-weight: 700;
    }
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    padding: 1rem 2rem 0 2rem;
    line-height: 2rem;
  }
}

.content {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  &.blue {
    background-color: #364449;
    color: white;
    h2 {
      color: white;
    }
    p {
      color: rgba(255,255,255,0.8);
    }
  }
  .wrapper-details {
    padding: 2rem 2.5rem;
  }
  .details {
    .points {
      display: flex;
      flex-direction: column;
      .point {
        padding-top: 1rem;
        border-bottom: 1px solid #E7F4F9;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .terminal {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}

.footer {
  background-color: #254451;
  padding: 2rem;
  color: white;
  h3 {
    text-align: center;
    color: white;
    margin-bottom: 0;
    img {
      height: 30px;
      width: auto;
      margin-right: 0.7rem;
      position: relative;
      top: 0.4rem;
    }
  }
  .footer-links {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    .link {
      margin-right: 0.7rem;
    }
  }
  .copyright {
    text-align: center;
    margin-top: 1.5rem;
    color: rgba(255,255,255,0.6);
  }
}

@media screen and (max-width: 960px) {
  .details, .terminal { 
    width: 100%; 
  }
  .wrapper-terminal {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 960px) {
  .details {
    width: 60%;
  }
  .terminal { 
    width: 40%;
  }
  .wrapper-terminal {
    padding: 0 2rem 0 0;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #0077A8;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #0077A8;
}

a {
  color: @brand-primary;
  text-decoration: none;
  &:hover {
    color: lighten(@brand-primary, 5%);
  }
}

body {
  font-family: @font-regular;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #254451;
  background-color: #E7F4F9;
}