
 {{ partial "header_index.html" . }}
 <div id="logogridsection" class="section no-pad-bot" style="text-align:center; position:relative; left:0%; padding-bottom:12px;background-color:#ffffff;">
      
	      <div style="border: 14px solid #f0f93d; width:42px; height:42px; display:inline-flex;"></div><div style="color:#8e9cff; display:inline-flex;font-family: Roboto; font-size: 18px; padding-left:16px; letter-spacing: .1rem;"> <a href="a">OPEN CONTAINER PROJECT</a></div>
    	
 </div>


    <div class="section no-pad-bot" style="margin-top:80px;">
      <div class="container" style="height:125px; text-align:center;">
        <div style="color:#000000; width:100%; padding-bottom:12px;"><b>Announcing</b> a new tool, by the OPEN CONTAINER PROJECT.</div>
        <div style="display:inline-flex;"><img src="{{.Site.BaseURL}}/images/run_icon.svg" height="42"></div><div style="color:#ffffff; display:inline-flex;font-family: Roboto; font-size: 36px; padding-left:16px; letter-spacing: .2rem;">runC</div>
      </div>

    </div>
    <div class="parallax">
    {{if .Site.Params.headerCover}}
      <img src="{{.Site.BaseURL}}/{{.Site.Params.headerCover}}">
    {{else}}
      <img src="{{.Site.BaseURL}}/images/default.png">
    {{end}}
    </div>
  
<div class="container">
        <div class="terminal-window">
          <header>
            <div class="btn green"></div>
            <div class="btn yellow"></div>
            <div class="btn red"></div>
          </header>
          <section class="terminal">
            <div class="terminal-data">
              $ runc <br>
              &nbsp;&nbsp;<span class="green">Pulling</span> <span class="gray">image redis...</span><br>
              &nbsp;&nbsp;<span class="green">Building</span> <span class="gray">web...</span><br>
              &nbsp;&nbsp;<span class="green">Starting</span> <span class="gray">composetest_redis_1...</span><br>
              &nbsp;&nbsp;<span class="green">Starting</span> <span class="gray">composetest_web_1...</span><br>
              &nbsp;&nbsp;<span class="gray">redis_1 | [8] 02 Jan 18:43:35.576 # Server started,<br>
              &nbsp; Redis version 2.8.3</span><br>&nbsp;&nbsp;web_1 | * Running on http://0.0.0.0:5000/<br>
              $<span class="prompt"></span><span class="typed-cursor">|</span>
            </div>
        </section>
        </div>
      </div>
<div class="container" id="indexcontent">
  	<div class="row" style="background-color:#ffffff; padding-left:36px;padding-top:24px;">
			<div id="indexcol1">
        {{ range first 1 (where .Data.Pages  "Params.include" "index-1") }}
          {{ .Content }}
        {{ end }}
  			</div>
			<div id="indexcol2">
      {{ range first 1 (where .Data.Pages  "Params.include" "index-2") }}
        {{ .Content }}
      {{ end }}
			</div>
 	</div>
 </div>



<div class="section no-pad-bot" style="background-color:#eef1ff; padding-bottom:48px;">
<div class="row" style="text-align:center; margin:48px;">
<div style="border: 1px solid #546473; padding:18px; width:200px; display:inline-flex; background-color:#ffffff;text-align:center;">Stay up to Date</div>
<br/><br/>
<form>
<input type="text" value="Email" name="Email" / style="width:200px;"><br/><br/>
<input type="submit" />
</form>
</div>
</div>
<div class="section no-pad-bot" style="background-color:#8e9cff;">
<div class="container" style="text-align:center; padding-bottom:48px;">
<div class="row" style="text-align:center; padding-top:36px;">
<div style="border: 1px solid #ffffff; padding:18px; width:200px; display:inline-flex; color:#ffffff">News & Press</div>
</div>
<div style="display: inline-flex; width:49%; text-align:left; padding-right:36px;">
6/20/2015
Announcement Open Container Project
<br /><br />
	</div>

</div>
</div>
</div>
</div>


{{ partial "footer.html" . }}
