
 {{ partial "header_index.html" . }}

 <div class="Center-Container" style="min-height:80px; background-color:#ffffff">
  <div class="rowVertical">
	      <div class="rowVertical cellLeft" style="width:64px;"><img src="{{.Site.BaseURL}}/images/ocp_icon-02.svg" height="64px"></div>
        <div class="rowVertical cellLeft" style="width:300px;"><a class="headTitle" href="{{.Site.BaseURL}}">{{.Site.Title}}</a></div>
  </div>
 </div>

<div class="Center-Container">
    <div class="rowVertical" style="color:white; text-align:center; padding:36px 36px 0px 36px"><p>Announcing a lightweight universal runtime container, by the OPEN CONTAINER PROJECT.</p></div>
  </div>

     <div class="Center-Container">
      <div class="rowVertical" style="height:164px;">

        <div class="rowVertical cellLeft"><img src="{{.Site.BaseURL}}/images/run_icon-01.svg" height="64"></div>
        <div class="rowVertical cellLeft" style="color:#ffffff; font-family: Roboto; font-size: 48px; letter-spacing: .2rem;">runC</div>
      </div>
    </div>

    <div class="parallax">
    {{if .Site.Params.headerCover}}
      <img src="{{.Site.BaseURL}}/{{.Site.Params.headerCover}}">
    {{else}}
      <img src="{{.Site.BaseURL}}/images/default.png">
    {{end}}
    </div>
    <div class="Center-Container" style="align-items:center;justify-content:center;margin:20px;">
      <img src="{{.Site.BaseURL}}/images/runtime_sketch_400.png" style="align-self:center;display:block"/>
    </div>
<div class="Center-Container">
  <div class="rowVertical" style="height:240px;">
        <div class="terminal-window" style="width:500px;">
          <header>
            <div class="btn green"></div>
            <div class="btn yellow"></div>
            <div class="btn red"></div>
          </header>
          <section class="terminal">
            <div class="terminal-data">
              $ runc <br>
              / $ ps<br>
              PID   USER     COMMAND<br>
              1     daemon   sh<br>
              5     daemon   sh<br>
              / $<br>
              $<span class="prompt"></span><span class="typed-cursor">|</span>
            </div>
        </section>
        </div>
      </div>
    </div>
<div class="Center-Container">
      <div class="rowv" style="width:1000px; background:#ffffff">
        <div class="textColumn cellLeft">
        {{ range first 1 (where .Data.Pages  "Params.include" "index-1") }}
          {{ .Content }}
        {{ end }}
  		</div>
      </div>
    </div>
</div>


{{ partial "footer.html" . }}
