{{ partial "page-head.html" . }}

<div class="hero">
  <div class="navbar">
    <div class="name">runC<span class="org">By Open Container Project</span></div>
  </div>
  <h3><img src="{{.Site.BaseURL}}/images/logo-open-container.png">Open Container Project</h3>
  <p>Announcing <strong>runC</strong> - a lightweight universal runtime container.</p>
  <div class="hamster">
    <img src="{{.Site.BaseURL}}/images/hamster.png">
  </div>
</div>
<div class="content">
  <div class="details">
    <div class="wrapper-details">
      <h2>About runC</h2>
      <p>
        runC is a CLI tool for spawning and running containers according to the 
        OCP specification. The code can be found on <a href="https://github.com/opencontainers/runc">Github</a>.
      </p>
      <div class="points">
        <div class="point">
          <h3>Embeddable</h3>
          <p>Containers are started as a child process of runC and can be embedded into various other systems without having to run a Docker daemon.</p>
        </div>
        <div class="point">
          <h3>Battle Hardened</h3>
          <p>runC is built on libcontainer, the same container technology powering millions of Docker Engine installations.</p>
        </div>
        <div class="point">
          <h3>Compatible with Docker</h3>
          <p>Docker images can be ran with runC.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="terminal">
    <div class="wrapper-terminal">
      <img src="{{.Site.BaseURL}}/images/runc-terminal.png">
    </div>
  </div>
</div>
<div class="content blue">
  <div class="wrapper-details">
    {{ range first 1 (where .Data.Pages  "Params.include" "get-started") }}
      {{ .Content }}
    {{ end }}
  </div>
</div>
<div class="content">
  <div class="wrapper-details">
    {{ range first 1 (where .Data.Pages  "Params.include" "extra") }}
      {{ .Content }}
    {{ end }}
  </div>
</div>


 <!--<div class="Center-Container" style="min-height:80px; background-color:#ffffff">
  <div class="rowVertical">
	      <div class="rowVertical cellLeft" style="width:64px;"><img src="{{.Site.BaseURL}}/images/ocp_icon-02.svg" height="64px"></div>
        <div class="rowVertical cellLeft" style="width:300px;"><a class="headTitle" href="{{.Site.BaseURL}}">{{.Site.Title}}</a></div>
  </div>
 </div>

<div class="Center-Container">
    <div class="rowVertical" style="color:#000000; text-align:center; padding:36px 36px 0px 36px"><p>Announcing a lightweight universal runtime container, by the OPEN CONTAINER PROJECT.</p></div>
  </div>

     <div class="Center-Container">
      <div class="rowVertical" style="height:164px;">

        <div class="rowVertical cellLeft"><img src="{{.Site.BaseURL}}/images/run_icon-01.svg" height="64"></div>
        <div class="rowVertical cellLeft" style="color:#ffffff; font-family: Roboto; font-size: 48px; letter-spacing: .2rem;">runC</div>
      </div>
    </div>

    <div class="parallax">
    {{if .Site.Params.headerCover}}
      <img src="{{.Site.BaseURL}}/{{.Site.Params.headerCover}}">
    {{else}}
      <img src="{{.Site.BaseURL}}/images/default.png">
    {{end}}
    </div>
    <div class="Center-Container" style="align-items:center;justify-content:center;margin:20px;">
      <img src="{{.Site.BaseURL}}/images/runtime_sketch_400.png" style="align-self:center;display:block"/>
    </div>
<div class="Center-Container">
  <div class="rowVertical" style="height:240px;">
        <div class="terminal-window" style="width:500px;">
          <header>
            <div class="btn green"></div>
            <div class="btn yellow"></div>
            <div class="btn red"></div>
          </header>
          <section class="terminal">
            <div class="terminal-data">
              $ runc <br>
              / $ ps<br>
              PID   USER     COMMAND<br>
              1     daemon   sh<br>
              5     daemon   sh<br>
              / $<br>
              $<span class="prompt"></span><span class="typed-cursor">|</span>
            </div>
        </section>
        </div>
      </div>
    </div>
<div class="Center-Container">
      <div class="rowv" style="width:1000px; background:#ffffff">
        <div class="textColumn cellLeft">
        {{ range first 1 (where .Data.Pages  "Params.include" "index-1") }}
          {{ .Content }}
        {{ end }}
  		</div>
      </div>
    </div>
</div>-->


{{ partial "footer.html" . }}
